<h1>New Box</h1>

<% form_for :player, :url => { :action => :add_box } do |form| %> 
<p> 
  <%= form.label :boxid, "boxid:"%> 
  <%= form.text_field :boxid, :size => 60 %> 
</p> 
<%= submit_tag "Add box", :class => "submit" %> 
<% end %> 

<%= link_to 'Back', players_path %>
